---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .post-meta time, .post-meta span, .post-meta code{
    margin-right: 3px;
  }

  .html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
  }
  //  dark-theme colors based on is-dark from NES-style
  .dark-theme {
    background-color: #202428;
    color: white;
  }
  //  override solarized-dark code block background
  .highlighter-rouge .highlight{
    background: #202428;
  }