---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
"minima/skins/{{ site.minima.skin | default: 'classic' }}",
"minima/initialize";

@font-face{
font-family: 'JetBrainsMono';
src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
.post-meta time, .post-meta span, .post-meta code{
  margin-right: 3px;
}
table td, code, kbd, pre, samp {
  font-size: 1em!important;
}
.html, body, pre, code, kbd, samp {
  font-family: "JetBrainsMono"!important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Press Start 2P";
}
.site-header {
  border-bottom: 1px solid #333;
}
.wrapper {
  max-width: 80%;
}
.dark-theme {
  background-color: #202428;
  color: white;
}
.highlighter-rouge .highlight, pre, code, table th, table tr:nth-child(even)  {
  background: #222;
  border: 1px solid #333;
}
table th, table td {
  border: 1px solid #333;
}
a {
  color: #e76e55;
}
a:hover, a:visited {
  color: #ce372b!important;
}
p {
  margin-top: 15px!important;
}
.highlight {
  margin-bottom: 0!important;
}
 
h1 {
  font-size:2rem!important;
}
h2 {
  font-size: 1.8rem!important;
}
h3 {
  font-size: 1.6rem!important;
}
h4 {
  font-size: 1.4rem!important;
}
h5 {
  font-size: 1rem!important;
}
h6 {
  font-size: .8rem!important;
}